# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Model weights
*.pth
*.pt
*.ckpt

# Others
*.log
outputs/
node_modules/
.vscode/
.idea/
*:Zone.Identifier
.DS_Store
